@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background: #eee;
    font-family: 'Poppins';
    text-align: center; 
    font-size: 0.9rem;
}
header{
    overflow: hidden;
    color: #fff;
}
header h2{
    font-size: 1.6rem;
    color: #ffd6d6;
}
.background{
    widows: 100%;
}
.background img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1000;
    filter: brightness(50%);
}
header nav{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 0.7rem;
}
header nav ul{
    display: flex;
    justify-content: space-around;
    widows: 100%;
}
nav ul li{
    list-style: none;
    margin: 0.5rem 0px;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 0.7rem;
    cursor: pointer;
}
nav ul li a:hover{
    color: #ffd6d6;
    border-bottom: 2px solid pink;
}
nav ul li a:not:hover{
    background:red;
}
section{
    width: 100%;
}
section .hero{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: -55px 0px;
}
.right-section{
    text-align: left;
    font-weight: 300;
}
.right-section .hi{
    font-weight: 300;
    font-size: 0.7rem;
}
.right-section h1{
    color: #ffd6d6;
    font-size: 3rem;
    line-height: 1;
}
.right-section .discription{
    font-size: 0.6rem;
    line-height: 1.2;
}
.right-section span{
    display: inline-block;
    border: 2px solid;
    border-radius: 100px;
    padding: 5px 15px;
    margin: 10px 0px;
}
.right-section span:hover{
    color: #ffd6d6;
}
.left-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 143, 143, 0.2);
    padding: 20px 5px;
    border-radius: 10px;
}
.left-section .login-text{
    margin: 0.4rem 0;
    font-weight: 500;
}
.left-section .login{
    padding: 4px 10px;
}
.left-section input{
    color: #fff;
    font-family: poppins;
    padding: 2px 9px;
    margin: 6px 0px;
    outline: none;
    border: 2px solid rgba(255, 143, 143, 0.486);
    background: none;
    border-radius: 50px;
}
.left-section input[type="submit"]{
    width: 100%;
    color: #fff;
    cursor:pointer;
    background: rgba(255, 143, 143, 0.2);
    border: 2px solid rgba(255, 143, 143, 0.486);
}
::placeholder{
    color: #fff;
    font-size: 0.6rem;
    opacity: 0.6;
}
.left-section input[type="submit"]:hover{
    color: #ffd6d6;
}
@media screen and (min-width:700px){
    header nav{
        padding: 20px;
    }
    nav .heading{
        font-size: 2rem;
    }
    nav a{
        font-size: 1rem;
        padding: 0px;
    }
  .right-section, .right-section .discription{
      font-size: 0.7rem;
  }
  .right-section .title{
      font-size: 4rem;
      font-weight: 700;
  }
  
}
.services{
    display: inline-block;
    padding: 0px;
    color: #e98b8b;
    margin-top: 100px;
    margin-bottom: 40px;
    border-bottom: 2px solid;
    text-transform: uppercase;
}
.services-cards{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #e98b8b;
    margin-bottom: 20px;
}
.card{
    padding:20px 8px;
    background: #ffd6d6;
    min-height: 30vh;
    width: 30vw;
    border-radius: 20px;
    transition: all 0.3s;
}
.card:hover{
    box-shadow:3px 10px 20px 0px rgba(0, 0, 0, 0.1);
}
.card span{
    display: block;
    font-size: 90px;
    background: none;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100vw;
    background: #ffd6d6;
    margin-top: 100px;

}
footer p{
    color: #e98b8b;
}
footer span{
    font-weight: 800;
}
@media(max-width:700px){
   section .hero{
       flex-direction:column;
       margin-top:-20px;
       justify-content: center;
       position: relative;
       overflow: hidden;
   }
.right-section{
    margin-bottom:40px;
}
nav ul{
    flex-direction: column;
    background: lightcoral;
    position: fixed;
    top: 0px;
    right: 60px;
    height: 0vh;
    width: 0px;
    transition:01s;
    visibility:hidden;
    opacity: 0.9;
    z-index: 100;
    margin: 0;
    padding: 0;
    font-size: 1px;
}
nav ul::before{
    content: '+';
    position: fixed;
    visibility: visible;
    top: 25px;
    right: 30px;
    background: black;
    height: 20px;
    width: 20px;
    font-size: 14px;
}
nav ul:hover{
    width: 200px;
    height: 100vh;
    visibility: visible;
}
nav ul li a{
    font-size: 0px;
    transition:all 0.2s;
    border: none;
    text-decoration: none;
}
nav ul li{
    transition: 0.4s;
}
nav ul li:hover{
    background:white;
    padding: 10px;
}
nav ul li:hover a{
    color: #e98b8b;
}
nav ul:hover li a{
 font-size: 13px;   
}

.services-cards{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.services-cards .card{
    width: 50vh;
    margin: 10px;
}
footer{
    flex-wrap: wrap;
    padding: 17px;
}
}